$h-bg-deep: #30444E;
$h-bg-light: #DAE2E6;

$green-1: #B7DAC2;
$blue-1: #A3CCE4;
$yellow-1: #FFFFD0;
$red-1: #E6C1BB;
$purple-1: #acb1f5;

:export {
    main: {
        deep: $h-bg-deep;
        light: $h-bg-light;
    };
    schoolStatus: {
        inschool: $green-1;
        graduation: $blue-1;
        missing: $yellow-1;
        catstar: $red-1;
        unkown: $purple-1;
    };
    sterilization: {
        sterilized: $green-1;
        unsterilized: $red-1;
        unknown: $purple-1;
    };
}