$h-bg-deep: #30444E;
$h-bg-light: #DAE2E6;

$green-0: #B7DAC2;
$green-light: #3DD598;

$yellow-0: #FFFFD0;
$purple-0: #acb1f5;

$gray-1: #A0AEC0;
$gray-2: #3c4856;

$blue-0: #A3CCE4;
$blue-1: #cbf7ff;
$blue-2: #00BFFF;
$blue-3: #0062FF;

$red-0: #E6C1BB;
$red-1: #ffe4e0;
$red-2: #FF575F;

$yellow-1: #fff7c2;
$yellow-2: #FFC542;

$orange-1: #ffe7c2;
$orange-2: #FF974A;



:export {
    main: {
        deep: $h-bg-deep;
        light: $h-bg-light;
        green-light: $green-light;
    };
    schoolStatus: {
        inschool: $green-0;
        graduation: $blue-0;
        missing: $yellow-0;
        catstar: $red-0;
        unknown: $purple-0;
    };
    sterilization: {
        sterilized: $green-0;
        unsterilized: $red-0;
        unknown: $purple-0;
    };
    encounter: {
        normal: {
            light: $gray-1;
            deep: $gray-2;
        }
        serious: {
            light: $red-1;
            deep: $red-2;
        }
        significant: {
            light: $yellow-1;
            deep: $yellow-2;
        }
        schedule: {
            light: $blue-1;
            deep: $blue-2;
        }
        todo: {
            light: $orange-1;
            deep: $orange-2;
        };
    };
    taskLevel: {
        LOW: $green-0;
        MEDIUM: $yellow-0;
        HIGH: $red-0;
    };
    taskStatus: {
        WAITING: $green-0;
        ACCEPTED: $yellow-0;
        COMPLETED: $gray-1;
    }
}