@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInHalf {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animation-height {
    /* INFO 需要配合 style 动态控制 height 的具体数值 */
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.animation-all {
    transition: all 0.3s ease-in-out;
}

.fade-in {
    animation: fadeIn .3s ease-in-out;
}

.fade-in-from-half {
    animation: fadeInHalf .3s ease-in-out;
    -webkit-animation: fadeInHalf .3s ease-in-out;
}